<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">
    <ul>
        <li ng-repeat="holiday in $storage.holidays">
            <label>From:</label>
            <input type="date" ng-model="holiday.from"/>
            <label>to:</label>
            <input type="date" ng-model="holiday.to"/>
            <label>category:</label>
            <select ng-model="holiday.type" ng-options="category for category in $storage.categories"></select>
            [<a href ng-click="$storage.holidays.splice($index, 1)">X</a>]
        </li>
        <li>
            [<a href ng-click="$storage.holidays.push({})">add</a>]
        </li>
    </ul>
</div>
