<table>
    <tr>
        <th>
            <a href="" ng-click="predicate='from'">From</a>
        </th>
        <th>
            <a href="" ng-click="predicate='to'">To</a>
        </th>
        <th>
            <a href="" ng-click="predicate='type'">Category</a>
        </th>
        <th></th>
    </tr>
    <tr ng-repeat="holiday in $storage.holidays | orderBy:predicate:false">
        <td>
            <input type="date" ng-model="holiday.from"/>
        </td>
        <td>
            <input type="date" ng-model="holiday.to"/>
        </td>
        <td>
            <select ng-model="holiday.type" ng-options="category for category in $storage.categories"></select>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="$storage.holidays.splice($index, 1)">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <button type="button" class="btn btn-default" ng-click="$storage.holidays.push({})">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </td>
    </tr>
</table>
