<div class="panel panel-default" ng-init="open = true">
    <div class="panel-heading">
        <button type="button" class="btn btn-default" ng-click="open = !open">
            <span ng-class="open ? 'glyphicon glyphicon-collapse-up' : 'glyphicon glyphicon-expand'"></span>
        </button>
        <span class="panel-title">Basic Settings</span>
    </div>
    <div ng-class="open ? 'panel-body ng-show' : 'panel-body ng-hide'">
        <form role="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="project">Project:</label>
                <input id="project" type="text" class="form-control"/>
            </div>
        </form>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            <a href="" ng-click="predicate='from'">From</a>
        </th>
        <th>
            <a href="" ng-click="predicate='to'">To</a>
        </th>
        <th>
            <a href="" ng-click="predicate='type'">Category</a>
        </th>
        <th></th>
    </tr>
    <tr ng-repeat="holiday in $storage.holidays | orderBy:predicate:false">
        <td>
            <input type="date" ng-model="holiday.from"/>
        </td>
        <td>
            <input type="date" ng-model="holiday.to"/>
        </td>
        <td>
            <select ng-model="holiday.type" ng-options="category for category in $storage.categories"></select>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="$storage.holidays.splice($index, 1)">
                <span class="glyphicon glyphicon-remove"></span> Remove
            </button>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <button type="button" class="btn btn-default" ng-click="$storage.holidays.push({})">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>
        </td>
    </tr>
</table>
